#aboutUs{
  padding: 50px;
}
#aboutUs h1{
  text-align: center;
}
.moreInfo{
  display: flex;
  gap: 1rem;
}
.image img{
width: 500px;
height: 300px;
}
.infoStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about img{
width: 600px;
height: 400px;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}
