footer {
    margin-top: 15px;
    background-color: rgb(154, 155, 115);
}
.container{
    display: grid;
    grid-template: 1fr 0.5fr / 1fr 1fr 1fr;
    align-items: end;
    justify-items: center;

}

.container > p {
    grid-area: 2/1/3/4;
    padding: 50px;
    width: 90%;
    text-align: center;
    border-top: 2px solid rgb(0, 0, 0);
}
.container ul {
    padding-left: 0;
}
.container ul li {
    list-style-type: none;
    font-size: 1.1rem;
    padding: 10px;

}
.container ul li  :hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid  rgb(0, 0, 0);
    border-top: 2px solid  rgb(0, 0, 0);
    padding: 10px;
    transition: 2s;}

.container ul li a {
    text-decoration: none;
    color: black;
}
.social-media li :hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid  rgb(0, 0, 0);
    border-top: 2px solid  rgb(0, 0, 0);
    padding: 10px;
    transition: 2s;}

.fastLinks h5 {
    padding: 10px;
}