#cards .cards-h1 {
    font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

#cards .cards-h1 span{
    color:rgb(61, 8, 20);
}


#container{
    position : relative;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 50px;
    margin: 30px;
}

#container .card {
    position: relative;
    width : 370px;
    height : 350px;  
    background-color: rgb(68, 47, 56);
    padding: 20px 10px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 10px 30px rgb(68, 47, 56, 0.8);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
    color: rgb(231, 249, 169);
}

#container .card .tourBox img {
    width : 100%;
    height: 200px;
    border-radius : 15px;
}
    
.toursInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toursIn1 h1{
    font-size: 1.5rem;
}

